#Footer{
	width: 100%;
    height:.88rem;
    border-top: .01rem solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Footer a{
    flex: 1;
    text-align: center;
}
#Footer .active{
    color:red;
}