*{
	margin: 0;
	padding: 0;
}
.box{
	height: 400px;
	width: 400px;
	margin:20px auto;
	position: relative;
}
.text{
	position: absolute;
	width: 200px;
	left: 100px;
	top:180px;
	text-align: center;
}

